<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>{% block title %}Welcome!{% endblock %}</title>        
    <link href="{{ asset('./bundles/ui/assets/css/app.css')}}" rel="stylesheet">
  </head>
  <body data-layout-mode="fluid" class="authentication-bg">
    <div class="account-pages my-5 pt-sm-5">
      <div class="container">
        <div class="row">
          <div class="col-md-8 col-lg-6 col-xl-5">
            <div class="card">
              <div class="card-body p-4">
                <div class="text-center mt-2">
                  <h5 class="text-primary">Reset Password</h5>
                  <p class="text-muted">Reset Password with Minible.</p>
                </div>
                <div class="p-2 mt-4">                 
                  <form >
                    <div class="mb-3">
                      <label for="useremail">Email</label>
                      <input
                        type="email"
                        v-model="email"
                        class="form-control"
                        id="useremail"
                        placeholder="Enter email"
                        :class="{
                          'is-invalid': submitted && $v.email.$error,
                        }"
                      />
                      <div
                        v-if="submitted && $v.email.$error"
                        class="invalid-feedback"
                      >
                        <span v-if="!$v.email.required"
                          >Email is required.</span
                        >
                        <span v-if="!$v.email.email"
                          >Please enter valid email.</span
                        >
                      </div>
                    </div>
                    <div class="row mb-0">
                      <div class="col-12 text-end">
                        <button class="btn btn-primary w-sm" type="submit">
                          Reset
                        </button>
                      </div>
                    </div>
                    <div class="mt-4 text-center">
                      <p class="mb-0">
                        Remember It ?
                        <a href="{{ path('user_login') }}" class="fw-medium text-primary">Signin</a>
                      </p>
                    </div>
                  </form>
                </div>
              </div>
              <!-- end card-body -->
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
